# Target URL backend Laravel Tokopon Zed
# Mode Dev (Local): http://127.0.0.1:8000
# Mode Production (VPS/Hosting): https://api.domainanda.com
VITE_API_URL=http://127.0.0.1:8000

# Opsional: Jika ingin override langsung Base URL API (misal reverse proxy custom)
# VITE_API_BASE_URL=https://api.domainanda.com/api/v1/executive
